.modal {
    display: none;
    height: 100%;
}

header nav {
    display: none;
}

a {
    text-decoration: none;
}


/* Section Aside */

aside {
    background-color: var(--sec-color);
    width: 270px;
    min-width: auto;
    min-height: 94vh;
    display: flex;
    flex-direction: column;
    border-right: 4px solid rgb(124, 124, 124);
    user-select: none;
}

aside .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    padding-top: 4rem;
    color: var(--bg-color);
}

aside .items {
    display: flex;
    justify-content: center;
}

aside .name #profile-name,
#profile-email {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: var(--bg-color);
    font-weight: 500;
}

aside .items {
    margin-top: 32px;
}

aside .items ul .link-items {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--bg-color);
    cursor: pointer;
    width: 240px;
    padding: 1.4rem;
    transition: 200ms ease-in-out;
}

aside .items ul .link-items:hover {
    color: var(--sec-color);
}

aside .items ul .link-items i {
    margin: 0 12px;
}

.modal .menu-toggle.on .modal-links a:hover,
aside .items ul .link-items:hover {
    background-color: var(--bg-color);
    color: var(--sec-color);
}

.modal .menu-toggle.on .modal-links #exit-tab:hover,
aside .items ul .link-items#exit-tab:hover {
    background: #ff0000;
}

.top-side h2 i {
    margin: 0 6px 0 4px;
}


/* Section Aside */

aside {
    background-color: var(--sec-color);
    width: 276px;
    min-width: auto;
    min-height: 94vh;
    display: flex;
    flex-direction: column;
    border-right: 4px solid rgb(124, 124, 124);
    user-select: none;
    z-index: 15;
}

aside .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    padding-top: 4rem;
    color: var(--bg-color);
}

aside .items {
    display: flex;
    justify-content: center;
}

aside .name #profile-name,
#profile-email {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: var(--bg-color);
    font-weight: 500;
}

aside .items {
    margin-top: 32px;
}

aside .items ul .link-items {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--bg-color);
    cursor: pointer;
    width: 240px;
    padding: 1.4rem;
    transition: 200ms ease-in-out;
}

aside .items ul .link-items:hover {
    color: var(--sec-color);
}

aside .items ul .link-items i {
    margin: 0 12px;
}

.modal .menu-toggle.on .modal-links a:hover,
aside .items ul .link-items:hover {
    background-color: var(--bg-color);
    color: var(--sec-color);
}

.modal .menu-toggle.on .modal-links #exit-tab:hover,
aside .items ul .link-items#exit-tab:hover {
    background: #ff0000;
}

.top-side h2 i {
    margin: 0 6px 0 4px;
}

@media (max-width: 600px) {
    .modal {
        display: flex;
        position: fixed;
        bottom: 4%;
        right: 50%;
        transform: translate(50%);
        z-index: 16;
        width: 44px;
        height: 44px;
        background: var(--sec-color);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
    .modal.on {
        position: fixed;
        top: 0;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        width: 100vw;
        height: calc(100vh + 20px);
        border-radius: 0px;
    }
    .modal-menu {
        /* height: 37px; */
        /* width: 42px; */
        cursor: pointer;
        z-index: 15;
        position: fixed;
    }
    .modal-menu div {
        height: 4px;
        width: 25px;
        background: var(--bg-color);
        margin: 4px 8px 5px 8px;
        border-radius: 6px;
    }
    .modal-menu.on {
        position: absolute;
        transform: translateX(-62%);
        bottom: 11%;
        /* width: 100%; */
        left: 50%;
        /* margin: 0 auto; */
        margin-bottom: 24px;
    }
    .modal-menu.on .one {
        transform: rotate(45deg) translate(8px, 1px);
    }
    .modal-menu.on .two {
        display: none;
    }
    .modal-menu.on .three {
        transform: rotate(-45deg) translate(6px, 1px);
    }
    .modal-menu.on div {
        height: 4px;
        width: 30px;
        background: var(--bg-color);
        margin: 6px 8px 6px 6px;
        border-radius: 6px;
    }
    .modal .menu-toggle {
        display: none;
    }
    .menu-toggle.on {
        display: block;
    }
    .modal .menu-toggle.on .modal-links {
        display: flex;
        flex-direction: column;
        height: 100%;
        list-style: none;
        width: 100vw;
        margin-bottom: 100px;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
    }
    .modal .menu-toggle.on .modal-links li .link-items {
        text-decoration: none;
        margin: 16px;
    }
    div.menu-toggle.on>.modal-links>a {
        padding: 4vh 20vw;
        width: 100%;
        font-size: 1.5rem;
        color: var(--bg-color);
    }
    div.menu-toggle.on>.modal-links>a i {
        margin: 0 6px;
    }
    aside {
        display: none;
    }
}


/* End Section Aisde */