@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    padding: 0;
    border: 0;
    margin: 0;
}

:root {
    --bg-color: #0b121c;
    --section-color: #919191d2;
    --sec-color: #eef1f7;
    --title-color: #eef1f7;
    --text-color: #eef1f7;
    --pendent-color: rgb(255, 255, 217);
    --made-color: rgb(162, 255, 176);
}

body {
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    display: flex;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
    justify-content: space-around;
    background-color: var(--sec-color);
    -webkit-tap-highlight-color: transparent;
}

.modal {
    display: none;
    height: 100%;
}

header nav {
    display: none;
}

a {
    text-decoration: none;
}


/* INICIO Seção principal INICIO */

main {
    margin: 0vh auto;
    width: 100vw;
    height: 100vh;
    max-height: max-content;
    background: var(--bg-color);
}


/*  Provas pendentes & feitas */

main .container .top-side {
    margin: 2% 3%;
    padding: 4px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}


/* Style titulo pendentes & feitas */

main .container .top-side .pendents-tests h2,
main .container .top-side .made-tests h2 {
    color: var(--title-color);
    text-align: left;
    padding: 1rem 0;
}

main .container .top-side a {
    position: absolute;
    top: 10%;
    right: 5%;
    text-decoration: none;
    font-size: 1rem;
    color: var(--bg-color);
}

main .container .top-side .none-tests,
main .container .top-side .pendents-tests .tests,
main .container .top-side .made-tests .tests {
    display: flex;
    position: relative;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 8px 0;
    width: 80%;
    min-width: 30vw;
    max-width: 40vw;
    flex-direction: column;
    flex-wrap: nowrap;
}

main .container .top-side .pendents-tests .tests {
    background: var(--pendent-color);
}

main .container .top-side .made-tests .tests {
    background: var(--made-color);
}

main .container .top-side .pendents-tests h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 4px;
}

main .container .top-side .pendents-tests .tests p {
    font-size: 14px;
    margin: 4px;
}


/* FIM Provas pendentes FIM */


/* INICIO Provas feitas  */

main .container .top-side .made-tests {
    margin-left: 32px;
}

main .container .top-side .made-tests h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 4px;
    width: 84%;
}

main .container .top-side .made-tests .tests p {
    font-size: 14px;
    margin: 4px;
}


/* Style Titulo sem provas */

main .container .top-side .none-tests {
    background-color: var(--section-color);
    padding: 38px 12px;
    text-align: center;
}

main .container .top-side .none-tests h4 {
    color: var(--sec-color);
    width: 100%;
}


/* FIM Provas feitas FIM */

@media only screen and (max-width: 980px) {
    main {
        height: max-content;
        min-height: 100vh;
    }
    /* INICIO Seção principal INICIO */
    /*  Provas pendentes & feitas */
    main .container .top-side {
        margin: 0 3%;
        padding: 4px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
    /* Style titulo pendentes & feitas */
    main .container .top-side .pendents-tests h2,
    main .container .top-side .made-tests h2 {
        color: var(--title-color);
        margin-top: 0.4rem;
    }
    main .container .top-side .pendents-tests .tests,
    main .container .top-side .made-tests .tests {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 8px 12px;
        border-radius: 8px;
        height: auto;
        min-width: 40vw;
        max-width: 50vw;
        flex-direction: column;
        margin-left: 0;
    }
    main .container .top-side .none-tests {
        padding: 32px 12px;
    }
    main .container .top-side .pendents-tests h4 {
        font-size: 16px;
        font-weight: 500;
        margin: 4px;
        width: 84%;
    }
    main .container .top-side .pendents-tests .tests p {
        font-size: 14px;
        margin: 4px;
    }
    /* FIM Provas pendentes FIM */
    /* INICIO Provas feitas */
    main .container .top-side .made-tests {
        margin-left: 0;
    }
    main .container .top-side .made-tests .tests p {
        font-size: 14px;
        margin: 4px;
    }
    /* FIM Seção principal FIM */
    /* Style Titulo sem provas */
    main .container .top-side .none-tests {
        min-width: 40vw;
        /* padding: 38px; */
    }
    main .container .top-side .none-tests,
    main .container .top-side .none-tests h4 {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    /* INICIO Seção principal INICIO */
    main {
        height: max-content;
        min-height: 100vh;
    }
    /*  Provas pendentes & feitas */
    main .container .top-side {
        width: 80%;
        margin: 2rem auto;
        padding: 4px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    /* Style titulo pendentes & feitas */
    main .container .top-side .pendents-tests h2,
    main .container .top-side .made-tests h2 {
        color: var(--title-color);
        margin-top: 0.4rem;
    }
    main .container .top-side .pendents-tests .tests,
    main .container .top-side .made-tests .tests,
    main .container .top-side .none-tests {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        /* padding: 8px 12px; */
        border-radius: 8px;
        height: auto;
        min-width: 74vw;
        max-width: 74vw;
        flex-direction: row;
        justify-content: space-between;
    }
    main .container .top-side .pendents-tests h4 {
        font-size: 16px;
        font-weight: 500;
        margin: 4px;
        width: 84%;
    }
    main .container .top-side .pendents-tests .tests p {
        font-size: 14px;
        margin: 4px;
    }
    /* FIM Provas pendentes FIM */
    /* INICIO Provas feitas */
    main .container .top-side .made-tests {
        margin-top: 32px;
        margin-left: 0;
    }
    main .container .top-side .made-tests .tests p {
        font-size: 14px;
        margin: 4px;
    }
    /* FIM Seção principal FIM */
    /* Style Titulo sem provas */
    main .container .top-side .none-tests,
    main .container .top-side .none-tests h4 {
        width: 100%;
    }
}